@import "tailwindcss";

@layer components {
  .spinner-big {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #1b2631;
    border-right-color: #b7c7d7;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #b7c7d7;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

@layer utilities {
  .text-outline-thin {
    -webkit-text-stroke: 0.5px;
  }

  .text-outline-white {
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.7);
  }

  .text-outline-blue {
    -webkit-text-stroke-color: rgba(59, 130, 246, 0.3);
  }
}

body {
  font-family: "LXGW WenKai Screen", sans-serif;
}

pre,
code {
  font-family: "Maple Mono";
}
